In [2]:
import pandas as pd

In [3]:
s = pd.read_csv("Stock.csv", squeeze = True, usecols= ['Open'])

In [4]:
s

0     16.770000
1     17.100000
2     17.059999
3     16.900000
4     16.969999
5     16.240000
6     16.389999
7     16.549999
8     15.990000
9     15.770000
10    16.389999
11    16.330000
12    16.340000
13    16.240000
14    16.469999
15    16.790001
16    17.100000
17    17.299999
18    16.299999
19    16.459999
Name: Open, dtype: float64

In [5]:
s.index

RangeIndex(start=0, stop=20, step=1)

In [32]:
s.values

array([16.77    , 17.1     , 17.059999, 16.9     , 16.969999, 16.24    ,
       16.389999, 16.549999, 15.99    , 15.77    , 16.389999, 16.33    ,
       16.34    , 16.24    , 16.469999, 16.790001, 17.1     , 17.299999,
       16.299999, 16.459999])

In [6]:
s.dtype

dtype('float64')

In [8]:
s.ndim

1

In [9]:
s.size

20

In [10]:
s.is_unique

False

In [11]:
s.is_monotonic_increasing

False

In [12]:
s.add_prefix("pandas")

pandas0     16.770000
pandas1     17.100000
pandas2     17.059999
pandas3     16.900000
pandas4     16.969999
pandas5     16.240000
pandas6     16.389999
pandas7     16.549999
pandas8     15.990000
pandas9     15.770000
pandas10    16.389999
pandas11    16.330000
pandas12    16.340000
pandas13    16.240000
pandas14    16.469999
pandas15    16.790001
pandas16    17.100000
pandas17    17.299999
pandas18    16.299999
pandas19    16.459999
Name: Open, dtype: float64

In [13]:
s.add_suffix("pandas")

0pandas     16.770000
1pandas     17.100000
2pandas     17.059999
3pandas     16.900000
4pandas     16.969999
5pandas     16.240000
6pandas     16.389999
7pandas     16.549999
8pandas     15.990000
9pandas     15.770000
10pandas    16.389999
11pandas    16.330000
12pandas    16.340000
13pandas    16.240000
14pandas    16.469999
15pandas    16.790001
16pandas    17.100000
17pandas    17.299999
18pandas    16.299999
19pandas    16.459999
Name: Open, dtype: float64

In [19]:
s.mode()

0    16.240000
1    16.389999
2    17.100000
dtype: float64

In [18]:
s.min()

15.77

In [17]:
s.sum()

331.459992

In [20]:
s.median()

16.464999

In [22]:
s.idxmax() # which index position the max value occures

17

In [23]:
max(s)

17.299999

In [24]:
s.max()

17.299999

In [25]:
s.head()

0    16.770000
1    17.100000
2    17.059999
3    16.900000
4    16.969999
Name: Open, dtype: float64

In [26]:
s.tail()

15    16.790001
16    17.100000
17    17.299999
18    16.299999
19    16.459999
Name: Open, dtype: float64

In [27]:
s.product()

2.4295555370482454e+24

In [28]:
s.std()

0.4076130110008758

In [30]:
s.shape

(20,)

In [31]:
s.describe()

count    20.000000
mean     16.573000
std       0.407613
min      15.770000
25%      16.322500
50%      16.464999
75%      16.917500
max      17.299999
Name: Open, dtype: float64